jupyterlab==3.4.8
matplotlib==3.6.1
matplotlib-inline==0.1.6
nodejs==0.1.1
numpy==1.26.1
pandas==1.5.3
scikit_learn==1.3.2
scipy==1.9.2
scorecardpy==0.1.9.2
seaborn==0.12.0
shap==0.41.0
statsmodels==0.13.2
tqdm==4.64.1
xgboost==2.0.1